{% extends 'Userreg/base.html'%}
{% load static %}
{%block content %} 
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User Name</th>
        <th scope="col">Email Id</th>
        <th scope="col">Contact number</th>
      </tr>
    </thead>
    <tbody>
        {% for user in Users %}
        <tr>  
            <td>{{ user.id }}</td> 
            <td>{{ user.uname }}</td>  
            <td>{{ user.email }}</td>  
            <td>{{ user.phone }}</td>  
        </tr>  
    {% endfor %}  
    </tbody>
  </table>
{% endblock content %}
